.filter_item_container, span{
    display: inline-block;
}
.filter_item_container {
  padding: 0 20px;
  position: relative;
}

.filter_text{
    margin-right: 2rem;
}
.down_traingle{
    opacity: 0.54;
}
.filter_options_container{
    display: none;
}
.filter_title_container{
    cursor: pointer;
}
/* Options Active */

.filter_item_container.active{
    background-color: rgba(250,250,250, 0.97);
}
.filter_item_container.active .filter_options_container{
    display: inline-block;
}

/* Filter Options */
.filter_options_container{
    background-color: rgba(250,250,250, 0.97);
    position: absolute;
    top: 100%;
    left: 0;
    width: max-content;
    min-width:100%;
    padding-top: 1rem;
    z-index: 2;
    text-align: left;
}
.filter_option{
    margin-bottom: 10px;
    padding: 1rem;
    border-bottom: 1px solid var(--primary-blue);
    display: list-item;
    cursor: pointer;
    list-style-type: none;


}
.filter_option:first-child{
    /* margin-top: 10px; */
    border-top: 1px solid var(--primary-blue);
}
.filter_option:last-child{
    margin-bottom: 0;
}
.filter_option input{
    margin-right: 1rem;
    width: 10px;
}

.filter_option label{
    cursor: pointer;
    margin: 0;
}