<div class="landing_main">
    <div class="landing_container">
        <img src="assets/images/landing2.png" alt="Property Rental Logo">
    </div>
    <div class="login_container">
        <form action="" class="signin_form mt-1" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)" novalidate>
            <div class="card bg-warning mb-4" *ngIf="warningMessage">
                <div class="card-text text-white">{{warningMessage}}</div>
            </div>
            <div class="text-left">
                <label for="" class="m-0"><small>Email</small></label>
                <input type="text" placeholder="Your email here...." class="login_input d-block w-100" name="email"
                    required ngModel>
                <span
                    *ngIf="(loginForm.controls.user?.invalid && loginForm.controls.user.touched) || (loginForm.controls.user?.invalid && invalidTry)"
                    style="float: right;font-size: 16px;line-height:0; color: red;"><em>Required</em></span>
            </div>
            <div class="text-left">
                <label for="" class="m-0"><small>Password</small></label>
                <input type="password" placeholder="Your password here..." class="login_input d-block w-100" name="password" required
                    ngModel>
                <span
                    *ngIf="(loginForm.controls.password?.invalid && loginForm.controls.password.touched) || (loginForm.controls.password?.invalid  && invalidTry)"
                    style="float: right;font-size: 16px;line-height:0; color: red;"><em>Required</em></span>
            </div>
            <div class="card bg-danger" *ngIf="errorMessage">
                <div class="card-text text-white">{{errorMessage}}</div>
            </div>
            <div class="text-right mb-2">
                <a href="#" class="text-brand-primary mt-2">Forgot Password?</a>
            </div>

            <span (mouseenter)="invalidTry = true" (mouseleave)="invalidTry = false">
                <button type="submit" class="btn bg-brand-primary btn-block py-2 mb-3 text-white"
                    [disabled]="loginForm.invalid">Sign In</button>
            </span>

                <div class="row mb-3">
                    <hr class="col">
                    <span class="col-auto text-muted">or</span>
                    <hr class="col">
            </div>
            <button href="#" class="fb rounded-sm btn w-75 mx-auto py-2 mb-3">
                <i class="fa fa-facebook fa-fw"></i> Login with Facebook
            </button>
            <button href="#" class="twitter rounded-sm btn w-75 mx-auto py-2 mb-3">
                <i class="fa fa-twitter fa-fw"></i> Login with Twitter
            </button>
            <button href="#" class="google rounded-sm btn w-75 mx-auto py-2 mb-3">
                <i class="fa fa-google fa-fw"></i> Login with Google+
            </button>
            <a routerLink="/create" class="btn text-brand-primary btn-link mt-2">
                <i class="fa fa-envelope fa-fw"></i> Sign Up with Email
            </a>
        </form>
        
    </div>
</div>