<div class="landing_main">
    <div class="landing_container">
        <img src="../../assets/images/landing.png" alt="Property Rental Logo">
    </div>
    <div class="login_container">
        <form action="" class="signin_form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
            <div class="signin_top">
                <h1 class="signin_title">Sign In</h1><a routerLink="/properties" class="skip_link">Skip to
                    Properties</a>
            </div>
            <div class="account_type">
                <label for="account_type_input" class="account_type_label">Account Type</label>
                <div class="at_input_container">
                    <select name="account_type" id="account_type_input">
                        <option value="normal">Tenant (Default)</option>
                        <option value="normal">Broker</option>
                    </select>
                </div>
            </div>
            <input type="text" placeholder="User Name/ Email" class="username_input" name="user" ngModel>
            <input type="password" placeholder="Password" class="password_input" name="password" ngModel>
            <a href="#" class="forgot_password">Forgot Password?</a>
            <button type="submit" class="login_btn btn">Log In</button>
            <a routerLink="/create" class="create_account">Create Account</a>
            <p class="options_label">Or Sign Up With</p>
            <button href="#" class="fb btn">
                <i class="fa fa-facebook fa-fw"></i> Login with Facebook
            </button>
              <button href="#" class="twitter btn">
                <i class="fa fa-twitter fa-fw"></i> Login with Twitter
              </button>
              <button href="#" class="google btn">
                <i class="fa fa-google fa-fw"></i> Login with Google+
              </button>
        </form>
    </div>
</div>
<footer class="login_footer"><span>© Property Rental 2020</span></footer>