.filter_item,
span {
  display: inline-block;
}
.filter_item {
  padding: 0 10px;
  border-left: 1px solid #0085c3;
  cursor: pointer;
}

.filter_text{
    margin-right: 2rem;
}
.down_traingle{
    opacity: 0.54;
}

.filter_item.active{
    background: #e6f4fa;
}