.landing_main {
    display: flex;
    flex-flow: row wrap;
    font-size: 0;
  }
  .landing_container {
    background-color: rgba(0, 133, 195, 0.41);
    flex-basis: 40%;
    min-height: calc(100vh - 50px);
  }
  .landing_container img {
    width: 133%;
    min-height: 100%;
    height: calc(100vh - 50px);
    object-fit: cover;
    object-position: -130px 4%;
  }
  .signup_container {
    background-color: white;
    flex-basis: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .signup_footer {
    background-color: #6e6e6e;
    flex-basis: 100%;
    padding: 1rem 0;
    font-size: 13px;
    color: white;
    text-align: center;
  }
  
  /* FORM */
  .signup_form {
    padding: calc(2.5 * 1.48vh) calc(4 * 1.48vh) calc(1.5 * 1.48vh);
    width: 528px;
    text-align: center;
  }
  
  input,
  button {
    display: block;
    width: 100%;
  }
  input {
    padding: calc(1 * 1.48vh) calc(1 * 1.48vh) calc(13 / 16 * 1.48vh);
    border: none;
    line-height: calc(21 / 16 * 1.48vh);
    outline: none;
    min-height: 50px;
      color: black;
      font-size: 1rem;
  }
  input:focus {
    border-bottom: 1px solid rgba(0, 133, 195);
  }
  input::placeholder {
    font-size: 1rem;
    color: #8b8b8b;
  }
  button {
    padding: 14px;
    border: none;
    border-radius: 5px;
    color: white;
    margin-bottom: 1rem;
    cursor: pointer;
  }
  a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }
  a,
  p {
    font-size: 1rem;
  }
  
  /* Title */
h1 {
    font-size: 30px;
    margin-bottom: calc(3 * 1.48vh);
    text-align: left;
  }
  
  .account_type {
    padding: calc(12 / 16 * 1.48vh) calc(24 / 16 * 1.48vh);
    color: var(--primary-blue);
    margin-bottom: calc(2 * 1.48vh);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    font-size: 20px;
  }
  
  .account_type_label,
  .at_input_container {
    display: inline-block;
    width: 50%;
    min-width: 140px;
  }
  .account_type_label {
    text-align: left;
  }
  .at_input_container {
    text-align: right;
  }
  #account_type_input {
    width: 86px;
    border: none;
    color: var(--primary-blue);
    font-size: 20px;
    outline: none;
    padding: 1px;
  }
  
  .inputfield {
    margin-bottom: calc(1 * 1.48vh);
    border-bottom: 1px solid rgba(0, 133, 195, 0.3);
  }
  
  .forgot_password {
    margin-bottom: calc(3.5 * 1.48vh);
  }
  
  .signup_btn {
    margin-top: 3rem;
    background-color: #0085c3;
  }
  
  .create_account {
    text-decoration: underline;
    margin-bottom: calc(0.875 * 1.48vh);
  }
  .options_label {
    margin-bottom: calc(4 * 1.48vh);
  }
  
  .signup_title {
    display: inline-block;
    width: 50%;
  }
  .skip_link {
    /* float: right; */
    color: green;
    /* margin-top: 5px; */
    text-transform: uppercase;
    text-decoration: underline;
    display: inline-block;
    text-align: right;
    width: 50%;
    font-size: 18px;
  }
  .price_input, .images_input{
    text-align: left;
    display: flex;
    align-items: center;
  }
  input[type='checkbox']{
    width: auto;
    height: auto;
    min-height: none;
  }
  .images_input label{
    min-width: 120px;
    vertical-align: bottom;
  }
  #priceType{
    color: #8b8b8b;
    padding: 1px;
    border: none;
    outline: none;
    min-height: 50px;
      font-size: 1rem;
      border-bottom: 1px solid rgba(0, 133, 195, 0.3);
      margin-bottom: calc(1 * 1.48vh);

  }
  #listPrice{
    padding-right: 1rem;
  }
  @media (max-width: 880px) {
    .landing_main {
      display: block;
    }
  
    .landing_container {
      display: block;
      min-height: auto;
      height: 150px;
      overflow: hidden;
    }
    .landing_container img {
      /* height: 100px; */
      width: 110%;
      object-fit: contain;
      object-position: 80px -160px;
    }
    .account_type_label,
    .at_input_container {
      text-align: center;
    }
  }
  