<div class="signup_container">
    <form class="signup_form" #edPrForm="ngForm" (ngSubmit)="save()">
        <div class="signup_top">
            <h1>Edit Property</h1>
        </div>
        <div class="one_line">
            <label>Images:</label>
            <div class="images">
                <div class="property_image_container" *ngFor="let pImage of editedProperty.propertyImages">
                    <img src="{{pImage}}" alt="" class="property_image">
                    <button type="button" class="remove_img_btn" (click)="removeImage(pImage)">×</button>
                </div>
                <button type="button" class="add_images_btn">+</button>
            </div>
        </div>
        <div class="one_line">
            <label for="bedrooms">Bedrooms:</label>
            <span style="position: relative;">
                <input style="display: block; width: 100%;" type="text" placeholder="No. of Bedrooms" id="bedrooms" name="bedrooms" class="inputfield"
                [(ngModel)]="editedProperty.bedrooms" required>
                <span *ngIf="(edPrForm.controls.bedrooms?.invalid && edPrForm.controls.bedrooms.touched) || (edPrForm.controls.bedrooms?.invalid  && invalidTry)" class="required"><em>Required</em></span>
            </span>

        </div>
        <div class="one_line">
            <label for="bathrooms">Bathrooms:</label>
            <input type="text" placeholder="No. of Bathrooms" id="bathrooms" name="bathrooms" class="inputfield"
            [(ngModel)]="editedProperty.bathrooms">
        </div>
        <div class="price_input one_line">
            <label for="listPrice">List Price:</label>
            <span style="position: relative;">
                <input style="display: block; width: 100%" type="text" placeholder="List Price" id="listPrice" name="listPrice" class="inputfield"
                [(ngModel)]="editedProperty.listPrice" required>
                <span *ngIf="(edPrForm.controls.listPrice?.invalid && edPrForm.controls.listPrice.touched) || (edPrForm.controls.listPrice?.invalid  && invalidTry)" class="required"><em>Required</em></span>
            </span>
            <select name="priceType" id="priceType" [(ngModel)]="editedProperty.priceType">
                <option value="Negotiable" [selected]="editedProperty.priceType === 'Negotiable'">Negotiable</option>
                <option value="Fixed" [selected]="editedProperty.priceType === 'Fixed'">Fixed</option>
            </select>

        </div>
        <div class="one_line">
            <label for="propertyTitle">Property Title:</label>
            <input type="text" placeholder="Post title (optional)" id="propertyTitle" name="propertyTitle"
            class="inputfield" [(ngModel)]="editedProperty.propertyTitle">
        </div>
        <div class="one_line">
            <label for="location">Location:</label>
            <span style="position: relative;">
                <input style="display: block;" type="text" placeholder="Location" id="location" name="location" class="inputfield"
                [(ngModel)]="editedProperty.location" required>
                <span *ngIf="(edPrForm.controls.location?.invalid && edPrForm.controls.location.touched) || (edPrForm.controls.location?.invalid  && invalidTry)" class="required"><em>Required</em></span>
            </span>
            
        </div>
        <div class="one_line">
            <label for="areaInM2">Area in m²:</label>
            <input type="text" placeholder="Area in m²" id="areaInM2" name="areaInM2" class="inputfield"
            [(ngModel)]="editedProperty.areaInM2">
        </div>

        <!-- <div class="amenities_input">
            <label for="balcony">Balcony</label>
            <input type="checkbox" name="balcony" id="balcony">
            <label for="backyard">Backyard</label>
            <input type="checkbox" name="backyard" id="backyard">
            <label for="jacuzzi">Jacuzzi</label>
            <input type="checkbox" name="jacuzzi" id="jacuzzi">
        </div> -->
        <div class="one_line">
            <label for="amenities">Amenities(separated by commas):</label>

            <input type="text" placeholder="Other Amenities e.g. Backyard, Jacuzzi, Balcony" id="amenities" name="amenities"
                class="inputfield" [(ngModel)]="amenitiesString">
        </div>   
        <!-- <input type="text" placeholder="Details" id="details" name="details" class="inputfield"
            value="{{editedProperty.details"> -->

        <button type="button" class="signup_btn btn">Preview</button>
        <span (mouseenter)="invalidTry = true" (mouseleave)="invalidTry = false">
            <button type="submit" class="signup_btn btn" [disabled]="edPrForm.invalid">Save Property</button>
        </span>
        <button type="button" class="signup_btn btn" (click)="goBack()">Cancel</button>
    </form>

</div>