:host{
    margin: 0 auto;
}
.favorites_items{
    text-align: center;
}
.favorites_item{
    display: inline-block;
    cursor: pointer;
}
.favorites_title{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

