.user_line_container{
  cursor: pointer;
}
.post_creator_avatar,
.post_creator_details {
  display: inline-block;
}
.post_creator_avatar {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}
.post_creator_avatar img {
  width: 100%;
  border-radius: 50%;
}
.post_creator_details {
  vertical-align: top;
}
.post_creator_name {
  font-size: 16px;
  color: #707070;
  font-style: italic;
}
.post_creator_sub {
  font-size: 14px;
}
