<!-- BIG CARD -->

<div class="card card-brand bg-card m-2 mb-4 btn p-0 text-left">
    <img src="{{ property.propertyImages[0] ? property.propertyImages[0] : 'assets/placeholders/no_img.png' }}" class="card-img-top" alt="Property Photo">
    <div class="card-body py-2 px-3">
        <div class="row">
            <div class="col-8">
                <p class="card-title font-weight-bold">{{ property.bedrooms }} Bedroom {{property.houseType === 'Full House' ? 'House' : property.houseType}} In {{property.address.neighborhood ? property.address.neighborhood + ',': ''}} {{property.address.city}}</p>
                <p class="card-subtitle mb-1 text-muted">2 Hrs Ago</p>
            </div>
            <div class="col-4 text-right">
                <p class="mb-1 font-weight-bold">{{property.price.amount | number:'1.0-2'}} Birr</p>
                <p class="card-subtitle mb-1 text-muted">{{property.price.type}}</p>
            </div>
        </div>
    </div>
    <!-- <div class="card-footer px-2 pb-2" *ngIf="postCreatorUser">
        <div class="row">
            <app-user-line class="col-9" [clickable]="false" [user]="postCreatorUser"></app-user-line>
        </div>
    </div> -->
    <div class="card-footer bg-transparent py-3 px-3">
        <div class="row text-center text-muted font-weight-bold">
            <div class="col" (click)="toggleFavorite(favBtn)">
                <a class="card-link text-brand-grey btn" [class.text-brand-primary]="favorited"><i class="mr-2 fa fa-heart" [class.fa-heart-o]="!favorited"
                    aria-hidden="true" #favBtn></i>Favorite</a>
            </div>
            <div class="col">
                <a class="card-link text-brand-grey btn"><i class="mr-2 fa fa-share" aria-hidden="true"></i>Share</a>
            </div>
        </div>
    </div>
</div>
