
:root{

    /*minus the size of button*/

}
.slider{
    display: inline-block;
    position: relative;
    width: 688px;
    height: 550px;
    left: 40px;
}
.images_container{
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}
.post_img{
    width: 100%;    
    height:100%;
    object-fit: contain;
    position: absolute;
    transition: transform 0.4s;
}

.slider_btn{
    position: absolute;
    top:50%;
    border:none;
    background: none;
    outline:none;
    cursor: pointer;
    z-index: 999;
}
.left_slider_btn{
    left: -40px;
    transform: scale(1.5);

}
.right_slider_btn{
    right: -40px;
    transform: scale(1.5);
}

.post_img{
    display:none;
}
.showing, .left, .right{
    display: inline;
}
.post_img.showing{
    transform: translateX(0);
}
.post_img.left{
    transform: translateX(-100%);
}

.post_img.right{
    transform: translateX(100%);
}
