/* nav a:visited,
a:link, nav a {
  color: #334953;
  cursor: pointer;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}

nav a {
  text-decoration: none;
  padding: 1rem;
}


:host {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.login_footer {
  background-color: #6e6e6e;
  padding: 1rem 0;
  font-size: 13px;
  color: white;
  text-align: center;
  position: relative;
  margin-top: auto;
}

.property_header {
  background-color: #0085c3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 15px 40px 20px;
  width: 100%;
}

.page_title {
  font-size: 20px;
  color: white;
  font-weight: normal;
}
.search_container {
  flex-basis: 46.75%;
  position: relative;
  margin-top: 8px;
}
.search_input {
  width: 100%;
  font-size: 16px;
  padding: 10px 17px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.search_btn {
  position: absolute;
  right: 0;
  height: 100%;
  background-color: white;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: solid 1px #eeeeee;
  width: 48px;
  outline: none;
}


.main{
  display: flex;
  min-height: calc(100vh - 150px);
}

.main_nav{
  min-width: 18%;
  font-family: Roboto;
  display: flex;
  min-height: 100%;
  flex-flow: column nowrap;
  background-color: #f7f7f7;
  padding: 1rem;
  color: #707070;

}

.main_nav i{
  margin-right: 16px;
}

.content_container{
  flex-basis: 100%;
}
.admin_center{
  color: #b4529c;
} */
.main-header{
    background-image: linear-gradient(
      to bottom,
     rgba(124, 124, 124, 0.55), 
     rgba(145, 201, 228, 0.55)), url(/assets/header_img.png);
    background-size: cover;
    /* background-position: left; */
    /* min-height: 300px; */
  }
  .top-header{
    min-height: 100px;
    /* border: 1px solid red; */
  }
  .page-title{
    font-size: 24px;
    color: #f4f4f4
  }
  .custom-white .nav-link{ /* bootstrap class */
    color: white;
  }
  .custom-white .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .nav-link.active{
    background-color: #0085c3;
  }
  .login_footer {
    background-color: #6e6e6e;
    padding: 1rem 0;
    font-size: 13px;
    color: white;
    text-align: center;
    /* position: relative; */
    margin-top: auto;
    height: 50px;
  }
  
  .search_container {
    width: 55%;
    /* min-width: 600px; */
    text-align: center;
    position: relative;
    /* margin: 5rem auto 2rem; */
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  }
  
  .search_input {
    width: 100%;
    font-size: 16px;
    padding: 10px 17px;
    border-radius: 5px;
    border: none;
    outline: none;
  }
  
  .search_btn {
    position: absolute;
    right: 0;
    height: 100%;
    background-color: #0085C3;
    color: white;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: solid 1px #eeeeee;
    width: 48px;
    outline: none;
  }

  .main-router-outlet{
      min-height: var(--router-outlet-height); 
  }
  @media (max-width: 576px){
    .main-header{
      background-position: right;
    }
  }