<div class="landing_main">
    <div class="landing_container">
        <img src="../../assets/images/landing.png" alt="Property Rental Logo">
    </div>
    <div class="login_container">
        <form action="" class="signin_form">
            <div class="signin_top">
                <h1 class="signin_title">Sign Up</h1><a routerLink="/properties" class="skip_link">Skip to
                    Properties</a>
            </div>
            <input type="text" placeholder="Phone Number/ Email" class="phone_email_input input_field">
            <input type="password" placeholder="Password" class="password_input input_field">
            <input type="password" placeholder="Confirm Password" class="password_input input_field">
            <input type="text" placeholder="First Name" class="first_name_input input_field">
            <input type="text" placeholder="Last Name" class="last_name_input input_field">
            <input type="text" placeholder="User Name" class="username_input input_field">
            <button type="submit" class="signup_btn btn">Sign Up</button>
        </form>
    </div>
</div>
<footer class="login_footer"><span>© Property Rental 2020</span></footer>