    <div class="container pt-4 pl-4">
        <div class="row m-0">
            <h2 class="mb-4">My Profile</h2>
            <button class="btn offset-md-8">Edit Profile</button>
        </div>
        
        <div class="row">
            <div class="col-md-3 avatar_container m-4">
                <img src="{{user.avatar}}" alt="Avatar">
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Full Name</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{user.firstname}} {{user.lastname}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{user.contact}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Phone</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        (239) 816-9029
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Mobile</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        (320) 380-4539
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Address</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        Addis Ababa, Ethiopia
                      </div>
                    </div>
                  </div>
                </div>
        </div>
        
    </div>
