<div class="filter_container">
    <div class="filter_item"><span class="filter_text">City</span><span class="down_traingle">▾</span></div>
    <div class="filter_item"><span class="filter_text">Sub City</span><span class="down_traingle">▾</span></div>
    <div class="filter_item"><span class="filter_text">Type</span><span class="down_traingle">▾</span></div>
    <div class="filter_item"><span class="filter_text">Number of bed</span><span class="down_traingle">▾</span></div>
    <div class="filter_item"><span class="filter_text">Price Range</span><span class="down_traingle">▾</span></div>
</div>