.custom-input{
    border: 0;
    border-bottom: 1px solid rgba(0, 133, 195, 0.3);
  }

.custom-input:focus{
    outline: none;
    border: 0;
    border-bottom: 1px solid rgba(0, 133, 195);
}
.custom-input::placeholder{
    color: #c1c1c1!important;
}

textarea.custom-input{
    border: 1px solid rgba(0, 133, 195, 0.3);

}
textarea.custom-input:focus{
    outline: none;
    border: 1px solid rgba(0, 133, 195);
}

hr{
    visibility: hidden;
}