/* 
.filter_cpt{
    border-left: 1px solid #0085c3;
}
.filter_cpt:last-of-type{
    border-right: 1px solid #0085c3;
}
.filter_container{
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem 0;
    
}


.apply_btn{
    border: none;
    background-color: white;
    text-decoration: underline;
    margin-left: 2rem;
}

.overlay{
    display: none;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
}
.overlay.active {
    display: block;
  }

  .apply_btn{
      position: relative;
      z-index: 1000;
  } */
.filter-item{
    margin-left: -1px;
}

.form-check-input{
    margin-top: 0.8rem;
}