/* You can add global styles to this file, and also import other style files */
:root{
    --primary-blue: #0085c3;
    --primary-grey: #707070;
    --router-outlet-height: calc(100vh - 222px);
    height: 100%;
}
*{
    box-sizing: border-box;
}

body{
    height: 100%;
}
body, h1, h2, h3, h4, h5, h6, p{
    font-family: 'Segeo UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pointable{
    cursor: pointer;
}
.bg-semi-transparent{
    opacity: 95%;
}
.bg-card{
    background-color: #f7f7f7!important;
}
.bg-brand-grey{
    background-color: var(--primary-grey)!important;
}
.text-brand-grey{
    color: var(--primary-grey)!important;
}
.bg-brand-primary{
    background-color: var(--primary-blue)!important;
}
.text-brand-primary{
    color: var(--primary-blue)!important;
    fill: var(--primary-blue)!important;
}

.btn-outline-brand-primary{
    color: var(--primary-blue)!important;
    fill: var(--primary-blue)!important;
    border: 1px solid var(--primary-blue)!important;
}
.btn-outline-brand-primary:hover{
    background-color: var(--primary-blue)!important;
    color: white!important;
    fill: white!important;

}

.text-input-brand{
    border: 0!important;
    border-radius: 0!important;
    border-bottom: 1px solid var(--primary-grey)!important;
}
.text-input-brand:focus{
    outline: none!important;
    box-shadow: unset!important;
    border-bottom: 1px solid var(--primary-blue)!important;
}

.border-brand{
    border-color:  rgba(0, 133, 195, 0.3)!important;

}

.mw-420px{
    width: 420px!important;
}
/* Bootstrap overrides */


/* body{
    background-color: #e2e2e2;
} */