/* You can add global styles to this file, and also import other style files */
:root{
    --primary-blue: #28b6f6;
    --primary-grey: #707070;
    height: 100%;
}
*{
    box-sizing: border-box;
}

body{
    height: 100%;
}
body, h1, h2, h3, h4, h5, h6, p{
    font-family: 'Segeo UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.bg-semi-transparent{
    opacity: 85%;
}
.bg-card{
    background-color: #f7f7f7!important;
}
.bg-brand-grey{
    background-color: #707070!important;
}
.text-brand-grey{
    color: #707070!important;
}
.bg-brand-primary{
    background-color: #0085c3!important;
}
.text-brand-primary{
    color: #0085c3!important;
}

.btn-outline-brand-primary{
    color: #0085c3!important;
}
.btn-outline-brand-primary:hover{
    background-color: #0085c3!important;
    color: white!important;
}
/* Bootstrap overrides */


/* body{
    background-color: #e2e2e2;
} */