/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    font-family: 'Segeo UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #394047;
}


