<div class="post" *ngIf="property">
        <div class="controls">
            <svg (click)="goBack()" class="back_btn" id="ic_arrow_back" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="4 0 24 24">
                <rect id="rectangle" width="24" height="24" fill="none"/>
                <path id="path" d="M20,11H7.8l5.6-5.6L12,4,4,12l8,8,1.4-1.4L7.8,13H20V11Z" fill-rule="evenodd"/>
            </svg>
            <button routerLink="edit" class="edit_btn" *ngIf="isAuthorizedToEdit">Edit</button>
        </div>
        <div class="slider_container">
            <button class="slider_btn left_slider_btn" [disabled]="property.propertyImages?.length <= 1" (click)="slider.prev()">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8.1" height="11.4" viewBox="0 0 8.1 11.4">
                <defs>
                  <clipPath id="clip-path">
                    <rect width="8.1" height="11.4" fill="none"/>
                  </clipPath>
                </defs>
                <g id="Backward_arrow_small" data-name="Backward arrow small" clip-path="url(#clip-path)">
                  <path id="Path_36" data-name="Path 36" d="M5.7,8.1,0,1.859,1.7,0l4,4.382L9.7,0l1.7,1.859Z" transform="translate(8.1) rotate(90)"/>
                </g>
              </svg>
            </button>
            <ng-image-slider [infinite]="true" [images]="imageObject" [imageSize]="{width: '100%', height: '550px', space: 0}" [showArrow]="false" [animationSpeed]="0.5" #slider></ng-image-slider>
            <button class="slider_btn right_slider_btn" [disabled]="property.propertyImages?.length <= 1" (click)="slider.next()"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8.1" height="13.4" viewBox="0 0 8.1 13.4">
                <defs>
                  <clipPath id="clip-path">
                    <rect width="8.1" height="13.4" fill="none"/>
                  </clipPath>
                </defs>
                <g id="Forward_arrow_small" data-name="Forward arrow small" clip-path="url(#clip-path)">
                  <path id="Path_36" data-name="Path 36" d="M6.7,8.1,0,1.859,2,0,6.7,4.382,11.4,0l2,1.859Z" transform="translate(0 13.4) rotate(-90)"/>
                </g>
              </svg>
            </button>
        </div>
    <div class="post_info">
        <div class="post_desc">
            <div class="post_title">
              {{ property.bedrooms }} Bedroom House In {{property.address.area}}, {{property.address.city}}
            </div>
            <div class="post_price">
                <div class="post_price_amt">{{property.price.amount | number:'1.0-2'}} Birr</div>
                <div class="post_price_type">{{property.price.type}} Price</div>
            </div>
        </div>
        <div class="post_detail">
            <h4 class="detail_title">Details</h4>
            <div class="detail_item" ><img src="../../assets/detail_icons/bedrooms.png"class="detail_img"/><span class="detail_text">{{property.bedrooms}} Bedroom</span></div>
            <div class="detail_item" *ngIf="property.bathrooms"><img src="../../assets/detail_icons/bathrooms.png" class="detail_img"/><span class="detail_text">{{property.bathrooms}} Bathroom</span></div>
            <div class="detail_item" *ngIf="property.areaInM2"><img src="../../assets/detail_icons/areaInM2.png" class="detail_img"/><span class="detail_text">{{property.areaInM2}} M<sup>2</sup></span></div>
            <div class="detail_item" *ngIf="property.levels"><img src="../../assets/detail_icons/levels.png" class="detail_img"/><span class="detail_text">{{property.levels}}</span></div>
        </div>
        <div class="post_amenities" *ngIf="property.amenities?.length !== 0">
            <h4 class="amenity_title">Amenities</h4>
            <span class="amenity_item" *ngFor="let amenity of property.amenities">{{amenity}}</span>
        </div>
        <!-- <div class="post_map"></div> -->
        <div class="post_creator">
            <app-user-line [user]="postCreatorUser"></app-user-line>
        </div>
       
    </div>
</div>