<div class="post" *ngIf="property">
        <div class="controls">
            <svg (click)="goBack()" class="back_btn" id="ic_arrow_back" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="4 0 24 24">
                <rect id="rectangle" width="24" height="24" fill="none"/>
                <path id="path" d="M20,11H7.8l5.6-5.6L12,4,4,12l8,8,1.4-1.4L7.8,13H20V11Z" fill-rule="evenodd"/>
            </svg>
            <button routerLink="edit" class="edit_btn">Edit</button>
        </div>
        
        <app-image-slider [property]=property></app-image-slider>
    <div class="post_info">
        <div class="post_desc">
            <div class="post_title">
              {{ property.bedrooms }} Bedroom House In {{property.location}}
            </div>
            <div class="post_price">
                <div class="post_price_amt">{{addCommas(property.listPrice)}} Birr</div>
                <div class="post_price_type">{{property.priceType}} Price</div>
            </div>
        </div>
        <div class="post_detail">
            <h4 class="detail_title">Details</h4>
            <div class="detail_item" ><img src="../../assets/detail_icons/bedrooms.png"class="detail_img"/><span class="detail_text">{{property.bedrooms}} Bedroom</span></div>
            <div class="detail_item" *ngIf="property.bathrooms"><img src="../../assets/detail_icons/bathrooms.png" class="detail_img"/><span class="detail_text">{{property.bathrooms}} Bathroom</span></div>
            <div class="detail_item" *ngIf="property.areaInM2"><img src="../../assets/detail_icons/areaInM2.png" class="detail_img"/><span class="detail_text">{{property.areaInM2}} M<sup>2</sup></span></div>
            <div class="detail_item" *ngIf="property.levels"><img src="../../assets/detail_icons/levels.png" class="detail_img"/><span class="detail_text">{{property.levels}}</span></div>
        </div>
        <div class="post_amenities" *ngIf="property.amenities !== undefined && property.amenities.length !== 0">
            <h4 class="amenity_title">Amenities</h4>
            <span class="amenity_item" *ngFor="let amenity of property.amenities">{{amenity}}</span>
        </div>
        <!-- <div class="post_map"></div> -->
        <div class="post_creator">
            <app-user-line [user]="postCreatorUser"></app-user-line>
        </div>
       
    </div>
</div>