<header class="property_header">
  <h1 class="page_title">Property Rental</h1>
  <div class="search_container"><input type="text" class="search_input" placeholder="Search" [value]="searchTerm" #searchField><button
      class="search_btn" (click)="onSearch(searchField.value)"><img src="assets/other_icons/search.png" alt="" ></button></div>
  <div class="main_btns">
    <app-top-menu-button [name]="'Notifications'" [iconSrc]="'assets/other_icons/notification.png'">
    </app-top-menu-button>
    <app-top-menu-button [name]="userFirstName" [iconSrc]="avatar"></app-top-menu-button>
  </div>
</header>

<div class="main">
  <nav class="main_nav">
    <a routerLink="/properties"><i class="fa fa-compass" aria-hidden="true"></i>Explore</a>
    <a routerLink="/properties/favorites"><i class="fa fa-heart-o" aria-hidden="true"></i>Favorites</a>
    <a *ngIf="!authService.isLoggedIn" (click)="goToLoginPage()"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a>
    <a *ngIf="authService.isLoggedIn" routerLink="/" (click)="logout()" ><i class="fa fa-sign-in" aria-hidden="true"></i>Logout</a>
    <a routerLink="/admin" class="admin_center" *ngIf="authService.isAdmin"><i class="fa fa-unlock-alt" aria-hidden="true"></i>Admin Center</a>
    <a [routerLink]="['/properties','create']"><i class="fa fa-plus" aria-hidden="true"></i>Create New Property</a>
  </nav>
  <div class="content_container">
    <router-outlet></router-outlet>
  </div>
</div>

<footer class="login_footer"><span>© Property Rental 2020</span></footer>