<header class="property_header">
  <h1 class="page_title">Property Rental</h1>
  <div class="search_container"><input type="text" class="search_input" placeholder="Search"><button
      class="search_btn"><img src="assets/other_icons/search.png" alt=""></button></div>
  <div class="main_btns">
    <app-top-menu-button [name]="'Notifications'" [iconSrc]="'assets/other_icons/notification.png'">
    </app-top-menu-button>
    <app-top-menu-button [name]="'Profile'" [iconSrc]="'assets/other_icons/profile.png'"></app-top-menu-button>
  </div>
</header>

<div class="main">
  <nav class="main_nav">
    <a routerLink="/properties"><i class="fa fa-compass" aria-hidden="true"></i>Explore</a>
    <a routerLink="/properties/home"><i class="fa fa-heart-o" aria-hidden="true"></i>Featured</a>
    <a routerLink="/login"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a>
    <a routerLink="/admin" class="admin_center"><i class="fa fa-unlock-alt" aria-hidden="true"></i>Admin Center</a>
    <a routerLink="/properties/create"><i class="fa fa-plus" aria-hidden="true"></i>Create New Property</a>
  </nav>
  <router-outlet></router-outlet>
</div>

<footer class="login_footer"><span>© Property Rental 2020</span></footer>